
<!doctype html>
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title rtc in the browser
    %script{:type => "text/javascript",
        :src  => "http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"}
    %script{:type => "text/javascript",
        :src  => "https://static.vline.com/vline.js"}
    %link{:href => "http://yui.yahooapis.com/pure/0.2.0/pure-min.css", :rel => "stylesheet"}/
    / %link{:href => "/combo/1.3.7?/css/layouts/blog.css", :rel => "stylesheet"}/
    %link(rel="stylesheet" href="/stylesheet/style.css")
  %body
    #layout.pure-g-r
      .sidebar.pure-u
        %header.header.pure-u-1
          %hgroup
            %h1.brand-title rtc
            %h2.brand-tagline skype in the browser
          %nav.nav
            %ul.nav-list
              %li.nav-item
                %a.pure-button{:href => "http://spitfiresky.com/blog/getting-started-with-sinatra.html"} Sinatra
              %li.nav-item
                %a.pure-button{:href => "https://vline.com/developer/docs/getting_started"} V-Line
              %li.nav-item
                %a.pure-button{:href => "http://purecss.io/"} Pure
      .content.pure-u-1
        / A wrapper for all the blog posts
        .posts.pure-g
          %h1.content-subhead.pure-u-1 Pinned Post
          / A single blog post
          %section.post.pure-u-1
            %header.post-header
              %h2.post-title.pure-u-1 Testing rtc
            .post-description.pure-u-1
              %p
                / content content to content the contained
                %a.pure-button.login{:href => "#"} Login
                %a.pure-button.call{:href => "http://spitfiresky.com/blog/getting-started-with-sinatra.html"} Call
				
                / Here the form is introduced
                %h1 WebCamVidja
                
                %video#video{:autplay => "", :controls => ""} You do not support the Video element
                %button#existing Do it!
                / %h2 Create a new element
                / %button#create Create that element
                / %h2 Use a canvas!
                / %p
                /   You can change the draw method and get access to both 2d and webgl contexts.
                / %button#canvas Paint that Canvas
                / %button#setDraw Change Canvas draw method
                / %h2 WebGL using glfx.js
                / %p
                / %button#threed Create a 3d canvas using GLFX
                / %button#setFilter Change 3d Filter
        %footer.footer
          .pure-menu.pure-menu-horizontal.pure-menu-open
            %ul
              %li
                %a{:href => "http://purecss.io/"} Pure
              %li
                %a{:href => "http://twitter.com/yuilibrary/"} Twitter
              %li
                %a{:href => "http://github.com/yui/pure/"} Github
    %script{:type => "text/javascript",
        :src  => "javascript/trigger.js"}
    %script{:type => "text/javascript",
        :src  => "javascript/script.js"}
      