%form.pure-form.pure-form-aligned
  %fieldset
    .pure-control-group
      %label{:for => "name"} Username
      %input#name{:placeholder => "Username", :type => "text"}/
    .pure-control-group
      %label{:for => "password"} Password
      %input#password{:placeholder => "Password", :type => "password"}/
    .pure-controls
      %button.pure-button{:type => "submit"} Submit